*{
    margin: 0;
}

body{
    background-color: #222222;
}

a{
    all: unset;
    cursor: pointer;
}

/* HEADER */
header{
    background-color: black;   
    position: fixed;
    width: 100%;
}

header .conteudoHeader{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

nav{
    display: flex;
    align-items: center;
    width: 20%;
}

nav ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    color: red;
}

header nav ul li{
    list-style-type: none;
}

/* FOOTER */

footer{
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .conteudoFooter{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

footer .redesSociais{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

footer .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .dados{
    margin: 10px;
}

footer .redesSociais a img{
    width: 30px;
}

/* NOTICIAS */

.maisAcessadoSemana{
    padding-top: 100px;
    padding-top: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.noticiasMaisAcessadasSemana{
    height: 100%;
    display: flex;
    justify-content: center;
}

.maisAcessadoSemana .noticia1{
    display: flex;
    justify-content: center;
    align-items: end;
    width: fit-content;
    background-image: url("./imgs/imagens-noticias/carlos-prates-stephen-thompson.jpg");
    width: 900px;   
    height: 500px;
    background-size: cover;
}

.maisAcessadoSemana .noticia2{
    display: flex;
    justify-content: center;
    align-items: end;
    width: fit-content;
    background-image: url("./imgs/imagens-noticias/carlos-prates-stephen-thompson.jpg");
    width: 450px;   
    height: 250px;
    background-size: cover;
}

.maisAcessadoSemana .noticia3{
    display: flex;
    justify-content: center;
    align-items: end;
    width: fit-content;
    background-image: url("./imgs/imagens-noticias/carlos-prates-stephen-thompson.jpg");
    width: 450px;   
    height: 250px;
    background-size: cover;
}

.maisAcessadoSemana .noticia .titulo{
    color: white;
}

.maisAcessadoSemana .noticia .imagemNoticia{
    width: 400px;
}
